html {
  background-color: #0b0b0b;
  color: #fbfbfb;
}

/* stole dis code to make him centered */

.android, #text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 100px;
}

#text {
  font-size: 32px;
  font-family: monospace;
  top:200px;
}

.head {
  background-color: #a4c639;
  border-radius: 110px 110px 0px 0px;
  border: 5px #fbfbfb solid;
  width: 150px;
  height: 70px;
  margin-bottom: 3px;
}

#l_eye, #r_eye {
  background-color: #fbfbfb;
  width: 15px;
  height: 15px;
  border-radius: 30px;
  padding: 0px;
  margin: 0px;
}

#l_eye {
  position: relative;
  left: 30px;
  top: -15px;
}

#r_eye {
  position: inherit;
  left: 70px;
  top: 0px;
}

#l_antenna, #r_antenna {
  background-color: #a4c639;
  width:5px;
  height:40px;
  border-radius: 10px 10px 0px 0px;
  border: 5px #fbfbfb solid;
  border-bottom: none;
  padding: 0px;
  margin: 0px;
}

#l_antenna {
  transform: rotate(-25deg);
  position: relative;
  left: 23px;
  top: -34px;
}

#r_antenna {
  transform: rotate(54deg);
  position: inherit;
  left: 75px;
  top: 32px;
}

.body {
  background-color: #a4c639;
  width: 150px;
  height: 125px;
  border-radius: 0px 0px 20px 20px;
  border: 5px #fbfbfb solid;
}

#l_arm, #r_arm {
  background-color: #a4c639;
  height: 100px;
  width: 30px;
  border-radius: 20px;
  border: 5px #fbfbfb solid;
  position: relative;
  left: -100px;
  padding: 0px;
  margin: 0px;
}

#l_arm {
  position: relative;
  left: -50px;
}

#r_arm {
  position: inherit;
  left: 205px;
}

#l_leg, #r_leg {
  background-color: #a4c639;
  height:50px;
  width:30px;
  border-radius: 0px 0px 40px 40px;
  border: 5px #fbfbfb solid;
  border-top: none;
  padding: 0px;
  margin: 0px;
}

#l_leg {
  position: relative;
  left: 30px;
  top: 15px;
}

#r_leg {
  position: inherit;
  left: 45px;
}
